.App {
  text-align: center;
}

.body {
  width: 100%
}

#AspenLogo {
  margin: 10px;
  max-width: 155px;
}

#NavItems {
  position: relative;
  display: flex;
  margin-left: auto;
}

.NavButtons {
  margin-right: 100px;
}

#DataGridDiv {
  max-width: 1920px;
  margin: auto;
}

#NodePage {
  margin: auto;
  max-width: 1920px;
  height: 100%;
}

#NodePageContent {
  height: auto;
}

#clock {
  display: flex;
  margin-left: auto;
}

span {
  display: flex;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 30px;
}

#panel1-header {
  border: 2px solid lightslategray;
}

#panel1-header:hover {
  background-color: rgba(117, 172, 228, .8);
}

#AIMEInfoDiv {
  width: 500px;
  margin-left: 10%;
  display: inline-block;
}

#SystemInfoDiv {
  display: block;
  float: right;
  margin-right: 10%;
  width: 500px;
}


#buttonDiv {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#AIMETestsTable {
  margin: auto;
  margin-top: auto;
  width: 1400px;
  margin-bottom: 20px;
}

#logOutputBox {
  margin: auto;
  width: 1000px;
}

#logOutputPaper {
  height: 500px;
  overflow-y: scroll;

}

#BOMPage {
  margin: auto;
  max-width: 1920px;
  height: 100%;
  background-color: #F5F5F5;
}

#BOMh1 {
  text-align: center;
}

#BOMAccordionDiv {
  margin: auto;
  width: 75%
}

#SystemAccordion, #MotherboardAccordion {
  display:list-item;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 830px) {
  img {
      display: none; /* Hide the image below 600px */
  }

  #AppBarLinks {
    font-size: 2.3vw;
    margin: auto;
    display: inline-block;
  }

  #NavItems {
    display: flex;
    margin-left: 0%
  }
}
